body{
    background-color: #ecece5;
    height: 100%;
}
.card{
    color:rgb(12, 12, 11);
    min-height: 200px;
    background-color: rgba(185, 179, 179, 0.4);
    border: 1px solid gainsboro;
    box-shadow: 7px 5px rgba(73, 72, 72, 0.8);
    margin-bottom: 20px;
}
.round-img{
    border: 10px solid grey;
    border-radius: 50%;
    filter: opacity(40%);
}
.table-fit{
    width: 50%;
}



@media only screen and (max-width: 992px) {
    .table-fit{
        width: 100%;
    }
}