body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header{
    flex: 0;
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.nav a{
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color: #ddd;
}
.home{
    margin-right: auto;
}
main{
    padding: 20px;
    flex: 1;
    background-color: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}
.content, .sidebar{
    padding: 10px;
    box-shadow: 7px 5px 5px #aaa;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #888;
}
.content{
    display: flex;
    flex-direction: column;
}
.contentHeader{
    flex: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contentHeader h1{
    display: inline;
    margin: 0;
}
.contentHeader .searchBox{
    padding: 2px;
    border: 1px solid #777;
    border-radius: 5px;
    align-self: flex-start;
    display: inline-flex;
}
.searchBox .searchIcon{
    flex: 0;
}
.searchBox .searchInput{
    flex: 1;
    border: 0;
}
.searchBox .searchButton{
    flex: 0;
    padding: 6px;
}

.projects{
    flex: 2;
}
.certs{
    flex: 1;
}


.sidebar h2{
    margin: 0;
}
footer{
    margin-top: auto;
    background-color: #888;
    text-align: center;
    padding: 5px;
}
